Repository oracle/learning-library, changes with the owners that CODEOWNERS names for each.
All owners: @flavio-santino, @kaymalcolm, @tmcginn, @kamryn-v, @anooshapilli, @davidastart, @robyn-apex, @troyanthony06, @rfontcha, @oegentil, @peterj, @jjking2019, @dankingsley001, @AlejandroCasas-oracle, @snicholspa, @chipbaber

CODEOWNERS:

# The last matching pattern has the most precedence.
*                        @flavio-santino @kaymalcolm @tmcginn @kamryn-v @anooshapilli @davidastart @robyn-apex
/ai-ml-library/       @kaymalcolm @tmcginn @kamryn-v @troyanthony06 @anooshapilli @davidastart @robyn-apex
/analytics-library/       @kaymalcolm @tmcginn @troyanthony06 @kamryn-v @rfontcha @anooshapilli @davidastart @robyn-apex
/data-management-library/ @kaymalcolm @tmcginn @troyanthony06 @kamryn-v @anooshapilli @davidastart @robyn-apex
/developer-library/       @kaymalcolm @tmcginn @troyanthony06 @kamryn-v @rfontcha @anooshapilli @davidastart @robyn-apex
/enterprise-manageability-library/       @kaymalcolm @tmcginn @rfontcha @kamryn-v @anooshapilli @davidastart @robyn-apex
/oci-library/             @flavio-santino @oegentil @peterj @kaymalcolm @tmcginn @davidastart @anooshapilli @kamryn-v
/ospa-library/            @jjking2019 @dankingsley001 @AlejandroCasas-oracle
/solutions-library/       @kaymalcolm @tmcginn @troyanthony06 @kamryn-v @rfontcha @anooshapilli @davidastart @oegentil @robyn-apex
/security-library/       @kaymalcolm @tmcginn @troyanthony06 @rfontcha @anooshapilli @kamryn-v @davidastart @robyn-apex
/workshops/               @snicholspa @chipbaber @kaymalcolm @tmcginn @troyanthony06 @davidastart @robyn-apex

Updating my git repo 8
  analytics-library/leverage-adw-oac/ask-direct-questions/ask-direct-questions.md
  analytics-library/leverage-adw-oac/build-analysis/build-analysis.md
  analytics-library/leverage-adw-oac/connect-oac-adw/connect-oac-adw.md
  analytics-library/leverage-adw-oac/data-flows/data-flows.md
  analytics-library/leverage-adw-oac/data-flows/images/customername.png
  analytics-library/leverage-adw-oac/db-functions/db-functions.md
  analytics-library/leverage-adw-oac/gain-insights/gain-insights.md
  analytics-library/leverage-adw-oac/geo-maps/geo-maps.md
  analytics-library/leverage-adw-oac/immediate-insights/immediate-insights.md
  analytics-library/leverage-adw-oac/mash-datasets/mash-datasets.md
  analytics-library/leverage-adw-oac/monitor-adw/monitor-adw.md
  analytics-library/leverage-adw-oac/next/next.md
  analytics-library/leverage-adw-oac/provision-adw/provision-adw.md
  analytics-library/leverage-adw-oac/provision-oac/provision-oac.md
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @rfontcha, @anooshapilli, @davidastart, @robyn-apex

Updating my git repo 9
  analytics-library/leverage-adw-oac/ask-direct-questions/ask-direct-questions.md
  analytics-library/leverage-adw-oac/build-analysis/build-analysis.md
  analytics-library/leverage-adw-oac/connect-oac-adw/connect-oac-adw.md
  analytics-library/leverage-adw-oac/data-flows/data-flows.md
  analytics-library/leverage-adw-oac/db-functions/db-functions.md
  analytics-library/leverage-adw-oac/gain-insights/gain-insights.md
  analytics-library/leverage-adw-oac/geo-maps/geo-maps.md
  analytics-library/leverage-adw-oac/immediate-insights/immediate-insights.md
  analytics-library/leverage-adw-oac/intro/intro.md
  analytics-library/leverage-adw-oac/mash-datasets/mash-datasets.md
  analytics-library/leverage-adw-oac/monitor-adw/monitor-adw.md
  analytics-library/leverage-adw-oac/next/next.md
  analytics-library/leverage-adw-oac/provision-adw/provision-adw.md
  analytics-library/leverage-adw-oac/provision-oac/provision-oac.md
  analytics-library/leverage-adw-oac/workshops/freetier/manifest.json
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @rfontcha, @anooshapilli, @davidastart, @robyn-apex

Updating my git repo 10
  analytics-library/leverage-adw-oac/db-functions/db-functions.md
  analytics-library/leverage-adw-oac/need-help-freetier/images/e-mail.png
  analytics-library/leverage-adw-oac/need-help-freetier/images/help-button.png
  analytics-library/leverage-adw-oac/need-help-freetier/images/problem-picture.png
  analytics-library/leverage-adw-oac/need-help-freetier/images/rate-this-workshop.png
  analytics-library/leverage-adw-oac/need-help-freetier/images/workshop-homepage-2.png
  analytics-library/leverage-adw-oac/need-help-freetier/need-help-freetier.md
  analytics-library/leverage-adw-oac/workshops/freetier/manifest.json
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @rfontcha, @anooshapilli, @davidastart, @robyn-apex

Updating my git repo 10b
  analytics-library/leverage-adw-oac/need-help-freetier/need-help-freetier.md
  analytics-library/leverage-adw-oac/next/next.md
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @rfontcha, @anooshapilli, @davidastart, @robyn-apex

Updating my git repo 10c
  analytics-library/leverage-adw-oac/need-help-freetier/need-help-freetier.md
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @rfontcha, @anooshapilli, @davidastart, @robyn-apex

Updating my git repo 11
  analytics-library/leverage-adw-oac/ask-direct-questions/ask-direct-questions.md
  analytics-library/leverage-adw-oac/build-analysis/build-analysis.md
  analytics-library/leverage-adw-oac/connect-oac-adw/connect-oac-adw.md
  analytics-library/leverage-adw-oac/data-flows/data-flows.md
  analytics-library/leverage-adw-oac/db-functions/db-functions.md
  analytics-library/leverage-adw-oac/gain-insights/gain-insights.md
  analytics-library/leverage-adw-oac/geo-maps/geo-maps.md
  analytics-library/leverage-adw-oac/immediate-insights/immediate-insights.md
  analytics-library/leverage-adw-oac/intro/intro.md
  analytics-library/leverage-adw-oac/mash-datasets/mash-datasets.md
  analytics-library/leverage-adw-oac/monitor-adw/monitor-adw.md
  analytics-library/leverage-adw-oac/provision-adw/provision-adw.md
  analytics-library/leverage-adw-oac/provision-oac/provision-oac.md
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @rfontcha, @anooshapilli, @davidastart, @robyn-apex

Updating my git repo 12
  analytics-library/leverage-adw-oac/connect-oac-adw/connect-oac-adw.md
  analytics-library/leverage-adw-oac/monitor-adw/monitor-adw.md
  analytics-library/leverage-adw-oac/provision-adw/provision-adw.md
  analytics-library/leverage-adw-oac/workshops/freetier/manifest.json
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @rfontcha, @anooshapilli, @davidastart, @robyn-apex

Updated raw link
  developer-library/microservices-with-converged-db/workshops/event-freetier/manifest.json
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @rfontcha, @anooshapilli, @davidastart, @robyn-apex

updated event raw link
  developer-library/microservices-with-converged-db/workshops/event-freetier/manifest.json
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @rfontcha, @anooshapilli, @davidastart, @robyn-apex

Create configure-intro.md
  data-management-library/exacc/configure-ldap/configure-intro/configure-intro.md
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @anooshapilli, @davidastart, @robyn-apex

Additional items for Configure LDAP
  data-management-library/exacc/configure-ldap/launch-ldap/launch-ldap.md
  data-management-library/exacc/configure-ldap/workshops/freetier/index.html
  data-management-library/exacc/configure-ldap/workshops/freetier/manifest.json
  data-management-library/exacc/configure-ldap/workshops/livelabs/index.html
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @anooshapilli, @davidastart, @robyn-apex

Create introduction.md
  data-management-library/exacc/configure-ldap/introduction/introduction.md
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @anooshapilli, @davidastart, @robyn-apex

Create manifest.json
  data-management-library/exacc/configure-ldap/workshops/livelabs/manifest.json
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @anooshapilli, @davidastart, @robyn-apex

Update launch-ldap.md
  data-management-library/exacc/configure-ldap/launch-ldap/launch-ldap.md
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @anooshapilli, @davidastart, @robyn-apex

commti1
  data-management-library/goldengate/bigdata/mysql-to-hbase/images/._d20.png
  data-management-library/goldengate/bigdata/mysql-to-hbase/images/._d21.png
  data-management-library/goldengate/bigdata/mysql-to-hdfs/images/._b15.png
  data-management-library/goldengate/bigdata/mysql-to-hdfs/images/._b16.png
  data-management-library/goldengate/bigdata/mysql-to-hdfs/images/._b19.png
  data-management-library/goldengate/bigdata/mysql-to-hive/images/._c21.png
  data-management-library/goldengate/bigdata/mysql-to-hive/images/._c22.png
  data-management-library/goldengate/bigdata/mysql-to-hive/images/._c23.png
  data-management-library/goldengate/bigdata/mysql-to-hive/images/._c24.png
  data-management-library/goldengate/bigdata/mysql-to-hive/images/._c25.png
  developer-library/rest-services-for-adb-appDevLive/create-table/images/Screen Shot 2021-05-05 at 8.48.34 AM.png
  developer-library/rest-services-for-adb-appDevLive/secure-endpoints/images/Screen Shot 2021-04-22 at 1.35.09 PM.png
  developer-library/rest-services-for-adb-appDevLive/secure-endpoints/images/Screen Shot 2021-05-05 at 10.14.28 AM.png
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @anooshapilli, @davidastart, @robyn-apex, @rfontcha
