Repository oracle/learning-library, changes with the owners that CODEOWNERS names for each.
All owners: @snicholspa, @flavio-santino, @kaymalcolm, @tmcginn, @tammybednar, @kamryn-v, @troyanthony06, @rfontcha, @dankoloski, @davidleroyatoracle, @umairs123, @enschilling, @snafuz, @jjking2019, @dankingsley001, @AlejandroCasas-oracle, @chipbaber, @oegentil, @peterj, @anooshapilli, @davidastart

CODEOWNERS:

# The last matching pattern has the most precedence.
<<<<<<< HEAD
<<<<<<< HEAD
*                         @snicholspa @flavio-santino @kaymalcolm @tmcginn @tammybednar @kamryn-v
/ai-ml-library/       @kaymalcolm @tammybednar @tmcginn @troyanthony06 @kamryn-v
/analytics-library/       @kaymalcolm @tammybednar @tmcginn @troyanthony06 @kamryn-v @rfontcha
/data-management-library/ @kaymalcolm @tammybednar @tmcginn @troyanthony06 @kamryn-v
/developer-library/       @kaymalcolm @tammybednar @tmcginn @troyanthony06 @kamryn-v @rfontcha
/enterprise-manageability-library/            @dankoloski @davidleroyatoracle @kaymalcolm @tmcginn @rfontcha
/oci-library/             @flavio-santino @umairs123 @enschilling @snafuz @kaymalcolm @tmcginn
/ospa-library/            @jjking2019 @dankingsley001 @AlejandroCasas-oracle
/solutions-library/       @kaymalcolm @tammybednar @tmcginn @troyanthony06 @kamryn-v @rfontcha
/security-library/       @kaymalcolm @tammybednar @tmcginn @troyanthony06 @rfontcha
/workshops/               @snicholspa @chipbaber @kaymalcolm @tmcginn @tammybednar @troyanthony06
=======
*                        @flavio-santino @kaymalcolm @tmcginn @kamryn-v
/ai-ml-library/       @kaymalcolm @tmcginn @kamryn-v @troyanthony06
/analytics-library/       @kaymalcolm @tmcginn @troyanthony06 @kamryn-v @rfontcha
/data-management-library/ @kaymalcolm @tmcginn @troyanthony06 @kamryn-v
/developer-library/       @kaymalcolm @tmcginn @troyanthony06 @kamryn-v @rfontcha
/enterprise-manageability-library/       @kaymalcolm @tmcginn @rfontcha @kamryn-v
/oci-library/             @flavio-santino @oegentil @peterj @kaymalcolm @tmcginn
/ospa-library/            @jjking2019 @dankingsley001 @AlejandroCasas-oracle
/solutions-library/       @kaymalcolm @tmcginn @troyanthony06 @kamryn-v @rfontcha
/security-library/       @kaymalcolm @tmcginn @troyanthony06 @rfontcha
/workshops/               @snicholspa @chipbaber @kaymalcolm @tmcginn @troyanthony06
>>>>>>> upstream/master
=======
*                        @flavio-santino @kaymalcolm @tmcginn @kamryn-v @anooshapilli @davidastart
/ai-ml-library/       @kaymalcolm @tmcginn @kamryn-v @troyanthony06 @anooshapilli @davidastart
/analytics-library/       @kaymalcolm @tmcginn @troyanthony06 @kamryn-v @rfontcha @anooshapilli @davidastart
/data-management-library/ @kaymalcolm @tmcginn @troyanthony06 @kamryn-v @anooshapilli @davidastart
/developer-library/       @kaymalcolm @tmcginn @troyanthony06 @kamryn-v @rfontcha @anooshapilli @davidastart
/enterprise-manageability-library/       @kaymalcolm @tmcginn @rfontcha @kamryn-v @anooshapilli @davidastart
/oci-library/             @flavio-santino @oegentil @peterj @kaymalcolm @tmcginn @davidastart @anooshapilli @kamryn-v
/ospa-library/            @jjking2019 @dankingsley001 @AlejandroCasas-oracle
/solutions-library/       @kaymalcolm @tmcginn @troyanthony06 @kamryn-v @rfontcha @anooshapilli @davidastart
/security-library/       @kaymalcolm @tmcginn @troyanthony06 @rfontcha @anooshapilli @kamryn-v @davidastart
/workshops/               @snicholspa @chipbaber @kaymalcolm @tmcginn @troyanthony06 @davidastart
>>>>>>> upstream/master

Updated image
  data-management-library/data-quality/edq/odi-consumption/odi-consumption.md
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @anooshapilli, @davidastart

Updated ODI Consumption Image
  data-management-library/data-quality/edq/odi-consumption/odi-consumption.md
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @anooshapilli, @davidastart

updated the data source image
  data-management-library/data-quality/edq/setup-edq-rep/images/image1200_20.png
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @anooshapilli, @davidastart

Updating my git repo 7b
  analytics-library/leverage-adw-oac/data-flows/data-flows.md
  analytics-library/leverage-adw-oac/data-flows/images/data-flows.png
  analytics-library/leverage-adw-oac/db-functions/db-functions.md
  analytics-library/leverage-adw-oac/db-functions/images/open-project.png
  analytics-library/leverage-adw-oac/db-functions/images/open-projectsmall.png
  analytics-library/leverage-adw-oac/gain-insights/gain-insights.md
  analytics-library/leverage-adw-oac/immediate-insights/immediate-insights.md
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @rfontcha, @anooshapilli, @davidastart

Updating my git repo 7c
  analytics-library/leverage-adw-oac/immediate-insights/immediate-insights.md
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @rfontcha, @anooshapilli, @davidastart

wls-oke workshop update (traefik helm chart, operator3.0, domain.yaml.v8, oke public API endpoint, etc.)
  workshops/wls-oke/deploy.weblogic_short.ocishell.md
  workshops/wls-oke/images/oke/009.quick.details.1.png
  workshops/wls-oke/images/oke/009.quick.details.2.png
  workshops/wls-oke/images/oke/009.quick.details.ocishell.1.png
  workshops/wls-oke/images/oke/009.quick.details.ocishell.2.png
  workshops/wls-oke/images/oke/009.quick.details.ocishell.png
  workshops/wls-oke/images/oke/009.quick.review.1.png
  workshops/wls-oke/images/oke/009.quick.review.2.png
  workshops/wls-oke/images/oke/009.quick.review.3.png
  workshops/wls-oke/images/oke/009.quick.review.ocishell.1.png
  workshops/wls-oke/images/oke/009.quick.review.ocishell.2.png
  workshops/wls-oke/images/oke/009.quick.review.ocishell.png
  workshops/wls-oke/install.operator.ocishell.md
  workshops/wls-oke/install.traefik.ocishell.md
  workshops/wls-oke/my-inputs.yaml
  workshops/wls-oke/setup.oke.ocishell.md
Owners: @snicholspa, @chipbaber, @kaymalcolm, @tmcginn, @troyanthony06, @davidastart
