Repository oracle/learning-library, changes with the owners that CODEOWNERS names for each.
All owners: @peterfz, @snicholspa, @flavio-santino, @kaymalcolm, @tmcginn, @nilaypanchal, @tammybednar, @NancyGreenberg, @hbyorum, @kbhanush, @alam-ora, @davidastart, @flavius-dinu, @dankoloski, @davidleroyatoracle, @umairs123, @enschilling, @snafuz, @jjking2019, @dankingsley001, @AlejandroCasas-oracle, @chipbaber

CODEOWNERS:

# The last matching pattern has the most precedence.
*                         @peterfz @snicholspa @flavio-santino @kaymalcolm @tmcginn
/data-management-library/ @nilaypanchal @kaymalcolm @tammybednar @tmcginn @NancyGreenberg @hbyorum @kbhanush
/developer-library/       @kaymalcolm @tammybednar @alam-ora @davidastart @hbyorum @tmcginn @flavius-dinu
/enterprise-manageability-library/            @dankoloski @davidleroyatoracle
/oci-library/             @flavio-santino @umairs123 @enschilling @snafuz
/ospa-library/            @jjking2019 @dankingsley001 @AlejandroCasas-oracle
/solutions-library/       @kaymalcolm @tammybednar @alam-ora @davidastart @hbyorum @tmcginn
/workshops/               @snicholspa @chipbaber @kaymalcolm @tmcginn

added jadenFile.txt in microservices directory
  developer-library/microservices-serverless-workshop/jadenFile.txt
Owners: @kaymalcolm, @tammybednar, @alam-ora, @davidastart, @hbyorum, @tmcginn, @flavius-dinu

deleted jadenFile.txt
  developer-library/microservices-serverless-workshop/jadenFile.txt
Owners: @kaymalcolm, @tammybednar, @alam-ora, @davidastart, @hbyorum, @tmcginn, @flavius-dinu

Helidon library for Java Basics
  oracle-university/java-basics/Helidon.zip
Owners: @peterfz, @snicholspa, @flavio-santino, @kaymalcolm, @tmcginn

LiveLabs Doc structure
  enterprise-manageability-library/enterprise_manager/freetier/em_configuration_compliance_management/em_configuration_compliance_management.md
  enterprise-manageability-library/enterprise_manager/freetier/em_configuration_compliance_management/index.html
  enterprise-manageability-library/enterprise_manager/freetier/em_configuration_compliance_management/manifest.json
  enterprise-manageability-library/enterprise_manager/freetier/em_find_fix_validate/em_find_fix_validate.md
  enterprise-manageability-library/enterprise_manager/freetier/em_find_fix_validate/index.html
  enterprise-manageability-library/enterprise_manager/freetier/em_find_fix_validate/manifest.json
  enterprise-manageability-library/enterprise_manager/freetier/em_fleet_maintenance_patching/em_fleet_maintenance_patching.md
  enterprise-manageability-library/enterprise_manager/freetier/em_fleet_maintenance_patching/index.html
  enterprise-manageability-library/enterprise_manager/freetier/em_fleet_maintenance_patching/manifest.json
  enterprise-manageability-library/enterprise_manager/freetier/em_fleet_maintenance_upgrade/em_fleet_maintenance_upgrade.md
  enterprise-manageability-library/enterprise_manager/freetier/em_fleet_maintenance_upgrade/index.html
  enterprise-manageability-library/enterprise_manager/freetier/em_fleet_maintenance_upgrade/manifest.json
  enterprise-manageability-library/enterprise_manager/freetier/em_multitenant_lifecycle_automation/em_multitenant_lifecycle_automation.md
  enterprise-manageability-library/enterprise_manager/freetier/em_multitenant_lifecycle_automation/index.html
  enterprise-manageability-library/enterprise_manager/freetier/em_multitenant_lifecycle_automation/manifest.json
Owners: @dankoloski, @davidleroyatoracle

LiveLabs Structure Update
  enterprise-manageability-library/enterprise_manager/README.md
  enterprise-manageability-library/enterprise_manager/em_configuration_compliance_management/em_configuration_compliance_management.md
  enterprise-manageability-library/enterprise_manager/em_find_fix_validate/em_find_fix_validate.md
  enterprise-manageability-library/enterprise_manager/em_fleet_maintenance_patching/em_fleet_maintenance_patching.md
  enterprise-manageability-library/enterprise_manager/em_fleet_maintenance_upgrade/em_fleet_maintenance_upgrade.md
  enterprise-manageability-library/enterprise_manager/em_multitenant_lifecycle_automation/em_multitenant_lifecycle_automation.md
  enterprise-manageability-library/enterprise_manager/freetier/em_configuration_compliance_management/index.html
  enterprise-manageability-library/enterprise_manager/freetier/em_configuration_compliance_management/manifest.json
  enterprise-manageability-library/enterprise_manager/freetier/em_find_fix_validate/manifest.json
  enterprise-manageability-library/enterprise_manager/freetier/em_fleet_maintenance_patching/index.html
  enterprise-manageability-library/enterprise_manager/freetier/em_fleet_maintenance_patching/manifest.json
  enterprise-manageability-library/enterprise_manager/freetier/em_fleet_maintenance_upgrade/manifest.json
  enterprise-manageability-library/enterprise_manager/freetier/em_multitenant_lifecycle_automation/index.html
  enterprise-manageability-library/enterprise_manager/freetier/em_multitenant_lifecycle_automation/manifest.json
  enterprise-manageability-library/enterprise_manager/freetier/index.html
  enterprise-manageability-library/enterprise_manager/freetier/manifest.json
  enterprise-manageability-library/enterprise_manager/intro/intro.md
  enterprise-manageability-library/enterprise_manager/livelabs/index.html
  enterprise-manageability-library/enterprise_manager/livelabs/manifest.json
Owners: @dankoloski, @davidleroyatoracle

LiveLabs Update #1
  enterprise-manageability-library/enterprise_manager/README.md
  enterprise-manageability-library/enterprise_manager/intro/intro.md
Owners: @dankoloski, @davidleroyatoracle

LiveLabs Update #2
  enterprise-manageability-library/enterprise_manager/em_configuration_compliance_management/em_configuration_compliance_management.md
  enterprise-manageability-library/enterprise_manager/em_find_fix_validate/em_find_fix_validate.md
  enterprise-manageability-library/enterprise_manager/em_fleet_maintenance_patching/em_fleet_maintenance_patching.md
  enterprise-manageability-library/enterprise_manager/em_fleet_maintenance_upgrade/em_fleet_maintenance_upgrade.md
  enterprise-manageability-library/enterprise_manager/em_multitenant_lifecycle_automation/em_multitenant_lifecycle_automation.md
  enterprise-manageability-library/enterprise_manager/intro/intro.md
Owners: @dankoloski, @davidleroyatoracle

Update #3
  enterprise-manageability-library/enterprise_manager/em_configuration_compliance_management/em_configuration_compliance_management.md
Owners: @dankoloski, @davidleroyatoracle
