Repository oracle/learning-library, changes with the owners that CODEOWNERS names for each.
All owners: @flavio-santino, @kaymalcolm, @tmcginn, @kamryn-v, @anooshapilli, @troyanthony06, @rfontcha, @oegentil, @peterj, @jjking2019, @dankingsley001, @AlejandroCasas-oracle, @snicholspa, @chipbaber

wegan-property-inspector-to-pane
  developer-library/visual-builder/standalone/create-pub-webapp/add-nav-and-data/add-nav-and-data.md
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @rfontcha, @anooshapilli

Delete terminal3.png
  data-management-library/goldengate/goldengate-microservices/adminclient/images/terminal3.png
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @anooshapilli

adding images
  oci-library/oci-hol/oci-hpc/architect-deep-learning/classify-traffic-signs/classify-traffic-signs.md
  oci-library/oci-hol/oci-hpc/architect-deep-learning/introduction/introduction.md
  oci-library/oci-hol/oci-hpc/architect-deep-learning/prep-tenancy-terraform/images/automatically_approve.png
  oci-library/oci-hol/oci-hpc/architect-deep-learning/prep-tenancy-terraform/images/click_hamburger.png
  oci-library/oci-hol/oci-hpc/architect-deep-learning/prep-tenancy-terraform/images/configure_variables.png
  oci-library/oci-hol/oci-hpc/architect-deep-learning/prep-tenancy-terraform/images/create_compartment.png
  oci-library/oci-hol/oci-hpc/architect-deep-learning/prep-tenancy-terraform/images/create_stack.png
  oci-library/oci-hol/oci-hpc/architect-deep-learning/prep-tenancy-terraform/images/data_science_compartment.png
  oci-library/oci-hol/oci-hpc/architect-deep-learning/prep-tenancy-terraform/images/identity.png
  oci-library/oci-hol/oci-hpc/architect-deep-learning/prep-tenancy-terraform/images/resource_manager_stacks.png
  oci-library/oci-hol/oci-hpc/architect-deep-learning/prep-tenancy-terraform/images/review_and_create_stack.png
  oci-library/oci-hol/oci-hpc/architect-deep-learning/prep-tenancy-terraform/images/tf_apply.png
  oci-library/oci-hol/oci-hpc/architect-deep-learning/prep-tenancy-terraform/images/tf_version.png
  oci-library/oci-hol/oci-hpc/architect-deep-learning/prep-tenancy-terraform/images/upload_zip.png
  oci-library/oci-hol/oci-hpc/architect-deep-learning/prep-tenancy-terraform/prep-tenancy-terraform.md
  oci-library/oci-hol/oci-hpc/architect-deep-learning/replicate-human-steering/replicate-human-steering.md
  oci-library/oci-hol/oci-hpc/architect-deep-learning/workshops/freetier/index.html
  oci-library/oci-hol/oci-hpc/architect-deep-learning/workshops/freetier/manifest.json
  oci-library/oci-hol/oci-hpc/architect-deep-learning/workshops/livelabs/index.html
  oci-library/oci-hol/oci-hpc/architect-deep-learning/workshops/livelabs/manifest.json
  oci-library/oci-hol/oci-hpc/hpc-starter-kit/cli-terraform/cli-terraform.md
Owners: @flavio-santino, @oegentil, @peterj, @kaymalcolm, @tmcginn

updating .md files
  oci-library/oci-hol/oci-hpc/openfoam/introduction/introduction.md
  oci-library/oci-hol/oci-hpc/openfoam/openfoam-hpc/openfoam-hpc.md
Owners: @flavio-santino, @oegentil, @peterj, @kaymalcolm, @tmcginn

new-ha-dr added to GGMA Workshop Jan 27 2021
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/images/h1.png
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/images/h10.png
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/images/h11.png
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/images/h14.png
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/images/h15.png
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/images/h16.png
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/images/h17.png
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/images/h18.png
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/images/h19.png
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/images/h2.png
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/images/h20.png
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/images/h21.png
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/images/h22.png
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/images/h23.png
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/images/h25.png
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/images/h26.png
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/images/h27.png
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/images/h3.png
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/images/h4.png
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/images/h5.png
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/images/h6.png
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/images/h7.png
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/images/h8.png
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/images/h9.png
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/new-ha-dr.md
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @anooshapilli

Update manifest w new-ha-dr Lab
  data-management-library/goldengate/goldengate-microservices/workshops/livelabs/manifest.json
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @anooshapilli

Update manifest w new lab for HA/DR Jan 27
  data-management-library/goldengate/goldengate-microservices/workshops/livelabs/manifest.json
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @anooshapilli

Updated Headers in HA/DR and Active-Active
  data-management-library/goldengate/goldengate-microservices/ha-dr/ha-dr.md
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/new-ha-dr.md
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @anooshapilli

Update new-ha-dr.md
  data-management-library/goldengate/goldengate-microservices/new-ha-dr/new-ha-dr.md
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @anooshapilli

finalizing .md files
  oci-library/oci-hol/oci-hpc/openfoam/openfoam-hpc/openfoam-hpc.md
  oci-library/oci-hol/oci-hpc/openfoam/openfoam-vm/openfoam-vm.md
Owners: @flavio-santino, @oegentil, @peterj, @kaymalcolm, @tmcginn

Updated documentation
  data-management-library/edq/audit-tools/audit-tools.md
  data-management-library/edq/data-standardization/data-standardization.md
  data-management-library/edq/odi-consumption/odi-consumption.md
  data-management-library/edq/profiling/profiling.md
  data-management-library/edq/reference-data/images/image1200_67_1.png
  data-management-library/edq/reference-data/reference-data.md
  data-management-library/edq/setup-edq-rep/images/image1200_14_1.png
  data-management-library/edq/setup-edq-rep/setup-edq-rep.md
  data-management-library/edq/workshops/freetier/manifest.json
Owners: @kaymalcolm, @tmcginn, @troyanthony06, @kamryn-v, @anooshapilli

CODEOWNERS:

# The last matching pattern has the most precedence.
*                        @flavio-santino @kaymalcolm @tmcginn @kamryn-v @anooshapilli
/ai-ml-library/       @kaymalcolm @tmcginn @kamryn-v @troyanthony06 @anooshapilli
/analytics-library/       @kaymalcolm @tmcginn @troyanthony06 @kamryn-v @rfontcha @anooshapilli
/data-management-library/ @kaymalcolm @tmcginn @troyanthony06 @kamryn-v @anooshapilli
/developer-library/       @kaymalcolm @tmcginn @troyanthony06 @kamryn-v @rfontcha @anooshapilli
/enterprise-manageability-library/       @kaymalcolm @tmcginn @rfontcha @kamryn-v @anooshapilli
/oci-library/             @flavio-santino @oegentil @peterj @kaymalcolm @tmcginn
/ospa-library/            @jjking2019 @dankingsley001 @AlejandroCasas-oracle
/solutions-library/       @kaymalcolm @tmcginn @troyanthony06 @kamryn-v @rfontcha @anooshapilli
/security-library/       @kaymalcolm @tmcginn @troyanthony06 @rfontcha @anooshapilli @kamryn-v
/workshops/               @snicholspa @chipbaber @kaymalcolm @tmcginn @troyanthony06
