Repository oracle/learning-library, changes with the owners that CODEOWNERS names for each.
All owners: @peterfz, @snicholspa, @flavio-santino, @jjking2019, @AlejandroCasas-oracle, @nilaypanchal, @dannymartin, @tejuscs, @kbhanush, @jamalarif, @enschilling, @dankingsley001, @chipbaber

Update AppDev and ODA
  ospa-library/appdev/README.md
Owners: @jjking2019, @dankingsley001, @AlejandroCasas-oracle

Update AppDev and ODA
  ospa-library/appdev/application-development-lab/README.md
Owners: @jjking2019, @dankingsley001, @AlejandroCasas-oracle

Update AppDev and ODA
  ospa-library/appdev/application-development-lab/README.md
Owners: @jjking2019, @dankingsley001, @AlejandroCasas-oracle

Update AppDev and ODA
  ospa-library/appdev/application-development-lab/README.md
  ospa-library/appdev/application-development-lab/files/Archive.zip
  ospa-library/appdev/application-development-lab/files/OrderPizza.txt
  ospa-library/appdev/application-development-lab/files/cancelpizza.txt
  ospa-library/appdev/application-development-lab/files/states.txt
  ospa-library/appdev/application-development-lab/files/utterances.txt
  ospa-library/appdev/application-development-lab/files/vbcsfiles.zip
Owners: @jjking2019, @dankingsley001, @AlejandroCasas-oracle

Update AppDev and ODA
  ospa-library/appdev/application-development-lab/README.md
Owners: @jjking2019, @dankingsley001, @AlejandroCasas-oracle

Update AppDev and ODA
  ospa-library/appdev/application-development-lab/files/README.md
Owners: @jjking2019, @dankingsley001, @AlejandroCasas-oracle

Update AppDev and ODA
  ospa-library/appdev/application-development-lab/applicationdevelopment-labguide.md
Owners: @jjking2019, @dankingsley001, @AlejandroCasas-oracle

Update getting started and banner
  ospa-library/appdev/application-development-lab/README.md
  ospa-library/appdev/application-development-lab/gettingstarted.md
  ospa-library/appdev/application-development-lab/media/banner.png
  ospa-library/appdev/application-development-lab/oda-labguide.md
Owners: @jjking2019, @dankingsley001, @AlejandroCasas-oracle

Update getting started and banner
  ospa-library/appdev/application-development-lab/README.md
Owners: @jjking2019, @dankingsley001, @AlejandroCasas-oracle

Update getting started and banner
  ospa-library/appdev/application-development-lab/README.md
  ospa-library/appdev/application-development-lab/applicationdevelopment-labguide.md
  ospa-library/appdev/application-development-lab/gettingstarted.md
  ospa-library/appdev/application-development-lab/oda-labguide.md
Owners: @jjking2019, @dankingsley001, @AlejandroCasas-oracle

Update getting started and banner
  ospa-library/appdev/application-development-lab/README.md
  ospa-library/appdev/application-development-lab/oda-labguide.md
Owners: @jjking2019, @dankingsley001, @AlejandroCasas-oracle

Update getting started and banner
  ospa-library/appdev/application-development-lab/applicationdevelopment-labguide.md
  ospa-library/appdev/application-development-lab/gettingstarted.md
Owners: @jjking2019, @dankingsley001, @AlejandroCasas-oracle

update ODA and AppDev
  ospa-library/appdev/application-development-lab/applicationdevelopment-labguide.md
  ospa-library/appdev/application-development-lab/gettingstarted.md
Owners: @jjking2019, @dankingsley001, @AlejandroCasas-oracle

Update Intro.md
  workshops/bike-share-prediction/Intro.md
Owners: @snicholspa, @chipbaber

Update LabGuide100.md
  workshops/bike-share-prediction/LabGuide100.md
Owners: @snicholspa, @chipbaber

Update Intro.md
  workshops/bike-share-prediction/Intro.md
Owners: @snicholspa, @chipbaber

Update LabGuide100.md
  workshops/bike-share-prediction/LabGuide100.md
Owners: @snicholspa, @chipbaber

Update LabGuide300.md
  workshops/bike-share-prediction/LabGuide300.md
Owners: @snicholspa, @chipbaber

Update LabGuide200.md
  workshops/bike-share-prediction/LabGuide200.md
Owners: @snicholspa, @chipbaber

Update LabGuide400.md
  workshops/bike-share-prediction/LabGuide400.md
Owners: @snicholspa, @chipbaber

Update LabGuide500.md
  workshops/bike-share-prediction/LabGuide500.md
Owners: @snicholspa, @chipbaber

Create Converged_Database
  data-management-library/database/Converged_Database
Owners: @jjking2019, @AlejandroCasas-oracle, @nilaypanchal, @dannymartin, @tejuscs, @kbhanush

CODEOWNERS:

# The last matching pattern has the most precedence.
*                         @peterfz @snicholspa @flavio-santino
/data-management-library/ @jjking2019 @AlejandroCasas-oracle @nilaypanchal @dannymartin @tejuscs @kbhanush
/oci-library/             @flavio-santino @jamalarif @enschilling
/ospa-library/            @jjking2019 @dankingsley001 @AlejandroCasas-oracle
/workshops/               @snicholspa @chipbaber
